@inherits LayoutComponentBase
<div class="min-h-screen" data-theme="@(_isDarkMode ? "dark" : "light")">
    <main class="flex-1 bg-gray-50 dark:bg-gray-900 min-h-screen">
        <nav>
            <NavMenu @bind-IsDarkMode="_isDarkMode"/>
        </nav>
        <article class="content px-8 py-4">
            @Body
        </article>
    </main>
</div>