@inject IJSRuntime JsRuntime
@implements IAsyncDisposable

<div class="relative h-[calc(100vh-4rem)]">
    @if (!_isInitialized)
    {
        <div class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-75 z-10">
            <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
        </div>
    }

    <div class="h-full flex flex-col">
        <h2 class="text-lg font-semibold mb-2 text-gray-700">Editor</h2>
        <div @ref="EditorElement" class="flex-1 min-h-0 border border-gray-300 rounded-lg overflow-hidden"></div>
    </div>
</div>